.content{
  width: 90%;
  margin: 1.4rem auto auto auto;
}

.titulo{
  text-align: center;
  margin-bottom: 3rem;
}

.titulo h1{
  font-size: rgb(221, 220, 220);
  font-weight: 500;
}

.botao{
  margin-bottom: 1rem;
  background-color: rgb(72, 156, 58);
  color: white;
  align-items: flex-end;
}
.tabela
{
  width: 100%;
}

.edit{
  color:white;
}

.delete{
  color: rgb(194, 73, 73);
  margin-left: 1rem;
}

.filme{
  margin-left: .4rem;
  color: white;
}
