<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
      <mat-nav-list>
        <a routerLink="" mat-list-item class="icone">
          <mat-icon class="material icons">home</mat-icon>
           Home
        </a>
        <a routerLink="/categorias" mat-list-item class="icone">
          <mat-icon class="material icons">assignment</mat-icon>
           Categoria
        </a>

      </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>


