<mat-card class="home mat-elevation-24" >
  <mat-card-title class="title">
      Olá! <br/>
      <br/>
      Bem-vindo ao "MOVIE-ANGULAR-APPLICATION"
      <br/>
      <br/>
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Nesta aplicação é possivel adicionar categorias de filmes,
    e adicionar filmes aquela respectiva categoria. <br/>
    Esta aplicação foi desenvolvida afim de aprimorar minhas habilidades e conhecimentos no software "angular".
  </mat-card-subtitle>
</mat-card>
